%article
  %section
    #registerForm.mc
      = simple_form_for @image_post do |f|
        %fieldset
          %legend
            = @legend
          = f.input :image, :as => :file, :input_html => { }
          = f.input :description, :as => :text, :input_html => { :class => "" }, :placeholder => "Input description here"
          .actions
            = f.submit "submit", :class => "btn primary"
