%article
  %section
    #registerForm.mc
      = simple_form_for @post do |f|
        %fieldset
          %legend
            = @legend
          = f.input :content, :as => :text, :input_html => { :class => "" }, :placeholder => "Input content here"
          = f.input :image, :as => :file, :input_html => { }
          .actions
            = f.submit "submit", :class => "btn primary"
