.waterfall-box.thumbnail.mb15.pd10.well
  .post-main.mb2
    - case post.class
    - when TextPost
      = post.content
    - when ImagePost
      = image_tag post.image_url, :class => "center" if post.image?
      %p= post.description
    - else
  %hr.alt1
  .post-actions
    %a{:class => "btn"}
      = t(:haha)
    %a{:class => "btn"}
      = t(:repost)
    = link_to "#{ t(:edit) }", {:controller => :posts, :action => :edit, :id => post.id}, {:class => "btn"}
    = link_to "#{ t(:delete) }", {:controller => :posts, :action => :destroy, :id => post.id}, {:method => :delete, :class => "btn"}
